<h1 mat-dialog-title>Add new student</h1>
<div mat-dialog-content>
    <p>Enter first name</p>
    <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput [(ngModel)]="student.firstName">
    </mat-form-field>

    <p>Enter last name</p>
    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput [(ngModel)]="student.lastName">
    </mat-form-field>

    <p>Enter age</p>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="student.age">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onAddClick()">Add</button>
</div>